<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metrix</title>
    <script src="assets/plugin/vue@2.7.8/vue.js"></script>
    <script src="assets/plugin/vuex/vuex.js"></script>
    <script src="assets/plugin/vue-router/vue-router.js"></script>
    <script src="assets/plugin/httpVueLoader/httpVueLoader.js"></script>
    <script src="assets/js/table_data.js"></script>
    <script src="components/store.js"></script>
    <script src="assets/plugin/toast-ui/toast.js"></script>
    <script src="components/router.js"></script>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/plugin/toast-ui/toast.css" />
</head>
<body>
    <div id="app">
        <div class="wrapper" :class="{'modal-active' : $store.getters.modalActive.includes('newOrder')||$store.getters.modalActive.includes('newCustomer') }">   
            <template v-if="$route.path.includes('/login')||$route.path.includes('/signup')">
                <auth-main></auth-main>
            </template>
            <template v-else>
                <div class="nav-wrap" @mouseover="$store.commit('checkActive')" @mouseout="$store.commit('checkActive')" :class="{'nav-active': $store.getters.isActive}">
                    <side-navigation></side-navigation>
                </div>
                <main :class="{mainactive: $store.getters.isActive}">
                    <div class="header-wrap">
                        <header-component></header-component>
                    </div>
                    <div class="container">
                        <router-view></router-view>
                    </div>
                </main>
            </template>
            <new-order v-if="$store.getters.modalActive.includes('newOrder')"></new-order>
            <new-customer v-if="$store.getters.modalActive.includes('newCustomer')"></new-order>
        </div>
        <div id="chart"></div>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            store,
            router,
            components: {
                'auth-main': httpVueLoader('components/common/AuthMain.vue'),
                'side-navigation': httpVueLoader('components/common/SideNavigation.vue'),
                'header-component': httpVueLoader('components/common/HeaderMain.vue'),
                'new-order' : httpVueLoader('components/orders/NewOrder.vue'),
                'new-customer' : httpVueLoader('components/customers/NewCustomer.vue'),
            },
        })
    </script>
</body>
</html>