body {padding: 10px;}

.b {color: rgb(40, 72, 151);}
.r {color: rgb(196, 35, 35);}
.g {color: green;}
.code {background-color: #eee; padding: 1px 10px; margin-top: 20px;}
p {font-size: 14px; line-height: 20px; margin: 5px 0;}
h3 {margin-top: 40px;}