@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@mixin fonts ($fz, $lh, $c){
    font-size: #{$fz};
    line-height: #{$lh};
    color: $c;
}
body{
    font-family: 'Noto Sans KR', sans-serif;
    min-width: 360px;
    font-size: 16px;
}
div.wrap{
    max-width: 640px;
    width: 90%;
    margin: 0 auto;
    header{
        padding: 34px 0 21px;
        h1{
            display: flex;
            justify-content: flex-end;
            a{
                width: 63px;
                height: 47px;
                display: inline-block;
                margin-right: 7px;
            }
        }
    }
    .line{
        .line_top{
            height: 2px;
            background-color: #a91313;            
        }
        .line_bottom{
            height: 1px;   
            background-color: #a91313;  
            margin-top: 2px;   
        }
    }
    section{
        margin-top: 51px;
        article{
            display: flex;
            h3{
                padding: 23px 0;
                margin-left: 26px;
                @include fonts (34.5px, 37px, #d41b1b);
                b{
                    font-weight: bold;
                }
            }
            img{
                width: 120px;
                height: 120px;
            }
        }    
        p{
            @include fonts (20px, 19px, #000);
            text-align: center;
        }
        .button{
            width: 140px;
            height: 32px;
            border: 1px solid #040000;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 22px;
            margin-left: 148px;
            a{
                @include fonts (14px, normal, #000);
            }
        }
    }
    aside{
        background-color: #f2f2f2;
        border-radius: 5px;
        margin-top: 112px;
        padding: 18px 0px 18px 63px;
        display: flex;
        img{
            width: 67px;
            height: 59px;
            margin-right: 2%;
        }
        .texts{
            margin-left: 20px;
            h4{
                @include fonts (16px, normal, #000);
            }
            p{
                @include fonts (14px, normal, #555);
                margin-top: 10px;
            }
        }
    }
}
@media (max-width : 640px) {
    div.wrap{
        section{
            margin-top: 40px;
            article{
                h3{
                    @include fonts (26px, 30px, #d41b1b);
                }
                img{
                    width: 110px;
                    height: 110px;
                }
            }    
            p{
                margin-top: 25px;
            }
            .button{
                width: 160px;
                height: 40px;
                margin-left: 0;
                margin: 0 auto;
                margin-top: 24px;
            }
        }
        aside{
            margin-top: 86px;
            padding: 10px 0px 12px 9px;
        }
    }
}
@media (max-width : 520px) {
    div.wrap{
        section{
            margin-top: 30px;
            article{
                img{
                    width: 60px;
                    height: 60px;
                }
                h3{
                    padding: 0;
                    margin-left: 13px;
                    margin-top: 10px;
                    @include fonts (20px, 22px, #d41b1b);
                }
            }    
            p{
                @include fonts (15px, 15px, #000);
            }
            .button{
                width: 200px;
                height: 40px;
            }
        }
        aside{
            flex-direction: row-reverse;
            img{
                width: 78px;
                height: 60px;
            }
            .texts{
                margin-left: 0;
                h4{
                    @include fonts (14px, 15px, #000);
                }
                p{
                    @include fonts (12px, 11px, #555);
                    margin-top: 13px;
                    b{
                        font-weight: bold;
                    }
                }
            }
        }
    }
}
@media (max-width : 360px) {
    div.wrap{
        section{
            margin-top: 23px;
            article{
                img{
                    width: 50px;
                    height: 50px;
                }
                h3{
                    margin-top: 3px;
                }
            }    
        }
    }
}