@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@font-face {
    font-family: "GimpoTitle";
    src:url(../fonts/GimpoTitle.eot),
        url(../fonts/GimpoTitle.ttf),
        url(../fonts/GimpoTitle.woff);
}
@font-face {
    font-family: "GimpoBatang";
    src:url(../fonts/GimpoBatang.eot),
        url(../fonts/GimpoBatang.ttf),
        url(../fonts/GimpoBatang.woff);
}