// variable
$navigation-width: 88px;
$navigation-active: 296px;
$transition: 0.5s;

// media-query
$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;

// color
$b: #5570f1;
$g: #519c66;
$r: #cc5f5f;
$w: #fff;

$max-width: 1280px;

// font
$default-font: 'Roboto', sans-serif;

// font weight
$l : 300;
$r : 400;
$md : 500;
$b: 700;

// 폰트 컬러
$default-fc: #323334;

// 기본 font-size
$font-16r: 1.6rem;
$font-18r: 1.8rem;
$font-28r: 2.8rem; 
$font-48r: 4.8rem;

// line-height
$ln: 1.2;