html{
    scroll-behavior: smooth;
}

.wrapper{
    background-repeat: no-repeat;
}

.text-hidden {    
    display: block;
    text-indent: 100%;    
    white-space: nowrap;    
    overflow: hidden;
}

button{
    background-color: transparent;
}