header{
    position: fixed;
    top: 40px;
    left: 40px;
    z-index: 1;
    .menu-list{
        display: flex;
        .menu-item{
            margin-right: 30px;
            opacity: 0.4;
            &.active{
                opacity: 1;
            }
            &:hover{
                opacity: 1;
            }
        }
    }
}

@include mdq-mobile {
    header{
        top: 20px;
        left: 20px;
    } 
}

nav{
    position: fixed;
    z-index: 1;
    top: 40px;
    right: 40px;
    .nav-list{
        .nav-item{
            display: flex;
            justify-content: flex-end;
            margin-bottom: 10px;
            img{
                display: none;
                margin-right: 10px;
            }
            button{
                display: block;
                width: 10px;
                height: 10px;
                background-image: url('../images/button.png');
                background-size: cover;
                background-position: center;
                opacity: 0.4;
            }
            .color-b{
                background-image: url('../images/button2.png');
            }
            &.active{
                button{
                    opacity: 1;
                }
            }
            &:hover{
                img{
                    display: block;
                }
                button{
                    opacity: 1;
                }
            }
        }
    }
}

@include mdq-mobile {
    nav{
        top: 0;
        bottom: 0;
        margin: auto;
        right: 20px;
        display: flex;
        align-items: center;
        .nav-list{
            .nav-item{
                &:hover{
                    img{
                        display: none;
                    }
                }
            }
        }
    }
}