@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    src: url(../webfonts/Roboto-Bold.ttf) format("truetype");
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    src: url(../webfonts/Roboto-Medium.ttf) format("truetype");
}

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url(../webfonts/Roboto-Regular.ttf) format("truetype");
}

@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    src: url(../webfonts/Roboto-Light.ttf) format("truetype");
}
