@font-face {
    font-family: 'LucidaGrande';
    font-weight: 400;
    src: url(../webfonts/LucidaGrande.ttf) format("truetype");
}

@font-face {
    font-family: 'Georgia';
    font-weight: 400;
    src: url(../webfonts/georgiai.ttf) format("truetype");
}
