.main-page{
    position: relative;
    .container{
        section{
            position: relative;
            overflow: hidden;
            .cycle-image{
                height: 100%;
                background-position: center;
                background-attachment: fixed;
                background-size: cover;
                margin: auto;
            }
        }
        .content1{
            background-color: #fec56d;
            img{
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                margin: auto;
            }
        }
        .content2{
            background: url('../images/fond18.jpg');
            background-color: #000;
            .cycle-image{
                background: url('../images/velo18.png');
            }
        }
        .content3{
            background: url('../images/fond1.jpg');
            background-color: #f4d0ad;
            .cycle-image{
                background: url('../images/velo2.png');
            }
        }
        .content4{
            background: url('../images/fond2.jpg');
            background-color: #b1deed;
            .cycle-image{
                background: url('../images/velo1.png');
            }
        }
        .content5{
            background: url('../images/fond3.jpg');
            background-color: #f79cc1;
            .cycle-image{
                background: url('../images/velo3.png');
            }
        }
        .content6{
            background: url('../images/fond4.jpg');
            background-color: #abe7f4;
            .cycle-image{
                background: url('../images/velo4.png');
            }
        }
        .content7{
            background: url('../images/fond5.jpg');
            background-color: #f8d5b8;
            .cycle-image{
                background: url('../images/velo5.png');
            }
        }
        .content8{
            background: url('../images/fond6.jpg');
            background-color: #a0e3ff;
            .cycle-image{
                background: url('../images/velo6.png');
            }
        }
        .content9{
            background: url('../images/fond7.jpg');
            background-color: #f7ca7d;
            .cycle-image{
                background: url('../images/velo7.png');
            }
        }
        .content10{
            background: url('../images/fond8.jpg');
            background-color: #fbdff8;
            .cycle-image{
                background: url('../images/velo8.png');
            }
        }
        .content11{
            background: url('../images/fond9.jpg');
            background-color: #c6deff;
            .cycle-image{
                background: url('../images/velo9.png');
            }
        }
        .content12{
            background: url('../images/fond10.jpg');
            background-color: #91f9d3;
            .cycle-image{
                background: url('../images/velo10.png');
            }
        }
        .content13{
            background: url('../images/fond11.jpg');
            background-color: #f8c075;
            .cycle-image{
                background: url('../images/velo11.png');
            }
        }
        .content14{
            background: url('../images/fond12.jpg');
            background-color: #ffd4ab;
            .cycle-image{
                background: url('../images/velo12.png');
            }
        }
        .content15{
            background: url('../images/fond13.jpg');
            background-color: #b2fad7;
            .cycle-image{
                background: url('../images/velo13.png');
            }
        }
        .content16{
            background: url('../images/fond14.jpg');
            background-color: #dbdbdb;
            .cycle-image{
                background: url('../images/velo14.png');
            }
        }
        .content17{
            background: url('../images/fond15.jpg');
            background-color: #fddcae;
            .cycle-image{
                background: url('../images/velo15.png');
            }
        }
        .content18{
            background: url('../images/fond16.jpg');
            background-color: #fb9d79;
            .cycle-image{
                background: url('../images/velo16.png');
            }
        }
        .content19{
            background: url('../images/fond17.jpg');
            background-color: #f6978f;
            .cycle-image{
                background: url('../images/velo17.png');
            }
        }
        .content20{
            background-color: #f68076;
            z-index: -10;
            position: relative;
            .text-images{
                position: fixed;
                top: 50%;
                transform: translate(0, -50%);
                left: 0;
                right: 0;
                text-align: center;
                hr{
                    width: 280px;
                    color: #ffffff;
                    height: 5px;
                    background-color: #FFF;
                    margin: 20px auto;
                }
            }
        }
        .parallax-board{
            height: 120vh;
            background-position: 50% 60%;
            background-attachment: fixed;
            background-repeat: no-repeat;
            .cycle-image{
                background-position: 50% 80%;
                background-attachment: fixed;
                background-repeat: no-repeat;
            }
        }
    }
}

@include mdq-desktop {
    .main-page{
        .container{
            .content1{
                img{
                    width: 70%;
                }
            }
            .content20{
                .text-images{
                    width: 60%;
                    margin: 0 auto;
                    img{
                        width: 100%;
                    }
                }
            }
            .parallax-board{
                height: 100vh;
                background-size: 80%;
                background-position: 50% 50%;
                background-attachment: initial;
                background-repeat: no-repeat;
                .cycle-image{
                    background-size: 50%;
                    background-position: 50% 70%;
                    background-attachment: initial;
                }
            }
        }
    }
}

@include mdq-mobile {
    .main-page{
        .container{
            .content20{
                .text-images{
                    hr{
                        width: 70%;
                    }
                }
            }
            .parallax-board{
                background-size: 100%;
                .cycle-image{
                    background-size: 60%;
                }
            }
        }
    }
}