.container{
    .mn-wrap{
        background-color: #ecf0f8;
        main{      
            max-width: 1240px;
            width: 100%;
            margin: 0 auto;
            img{
                width: 100%;
            }
        }
    }
    section{
        max-width: 1240px;
        width: 100%;
        margin: 0 auto;
        img{
            width: 100%;
        }
    }
}