.footer-wrap{
    .fnb-wrap{
        background-color: #444f6e;
        .fnb{
            max-width: 1240px;
            width: 100%;
            margin: 0 auto;
        }
        img{
            width: 100%;
        }
    }
    footer{
        max-width: 1240px;
        width: 100%;
        margin: 0 auto;
        img{
            width: 100%;
        }
    }
}