.popup-wrap{
    background-color: #c2e6ff;
    font-family: "Noto Sans KR", sans-serif;
    position: relative;
    height: 167px;
    transition: all 0.3s;
    &.active{
        height: 0;
        overflow: hidden;
    }
    .popup{
        max-width: 1240px;
        width: 100%;
        margin: 0 auto;
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        section{
            width: 880px;
            .popup-title{
                height: 30px;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                p{
                    font-size: 13px;
                }
                h3{
                    font-size: 26px;
                    line-height: 30px;
                    span{
                        color: #e83e30;
                    }
                }
                a{
                    font-size: 13px;
                }
            }
            table{
                width: 100%;
                margin-top: 10px;
                td{
                    border: 1px solid #cdcdcd;
                }
                .tr1{
                    color: #fff;
                    text-align: center;
                    line-height: 28px;
                    .td1{
                        background-color: #122c73;
                        border-radius: 10px 0 0 0;
                        width: 190px;
                    }
                    .td2{
                        background-color: #3d92f5;
                        width: 190px;
                    } 
                    .td3{
                        background-color: #3d92f5;
                        width: 100px;
                    }
                    .td4{
                        background-color: #0b62bb;
                        border-radius: 0 10px 0 0;
                    }
                }
                .tr2{
                    background-color: #fff;
                    text-align: center;
                    td{
                        span{
                            font-size: 20px;
                            font-weight: 900;
                            line-height: 40px;
                        }
                        p{
                            font-size: 11px;
                            color: #666;;
                            font-weight: 500;
                        }
                    }
                    .td1{
                        width: 90px;
                        border-radius: 0 0 0 10px;
                    }
                    .td2{}
                    .td3{
                        width: 95px; 
                    }
                    .td4{}
                    .td5{}
                    .td6{
                        width: 100px;
                    }
                    .td7{
                        width: calc((100% - 100px) / 3);
                        span{
                            &:nth-of-type(1){
                                font-size: 12px;
                                line-height: 12px;
                            }
                            &:nth-of-type(2){
                                font-size: 16px;
                                line-height: 16px;
                                color: #0b62bb;
                            }
                        }
                    }
                    .td8{
                        width: calc((100% - 100px) / 3);
                    }
                    .td9{
                        width: calc((100% - 100px) / 3);
                        border-radius: 0 0 10px 0;
                    }
                }
            }
        }
        ul{
            width: calc(100% - 910px);
            li{
                line-height: 20px;
                margin-top: 10px;
                span{
                    display: inline-block;  
                    padding: 3px 20px;
                    margin-right: 10px;
                    text-align: center;
                    color: #fff;
                    border-radius: 10px;
                    background-color: #122c73;
                }
            }
        }
    }  
    .popup-btns{
        position: absolute;
        top: 10px; right: 200px;
        display: flex;
        .popup-close{
            background-color: transparent;
            margin-right: 10px;
        }
        .popup-chk{
            input{}
            label{}
        }
    }
}