.popup-wrap{
    background-color: #c2e6ff;
    font-family: "Noto Sans KR", sans-serif;
    position: relative;
    height: 156px;
    transition: all 0.3s;
    overflow: hidden;
    &.active{
        height: 0;
    }
    @include tablet{
        height: 228px;
    }
    @include mobile{
        height: 314px;
    }
    .popup{
        max-width: 1240px;
        width: 100%;
        margin: 0 auto;
        padding: 10px 0;
        display: flex;
        align-items: flex-end;
        @include tablet{
            display: block;
            padding: 10px 30px;
        }
        @include mobile{
            padding: 10px;
        }
        section{
            max-width: 880px;
            width: 100%;
            font-weight: 700;
            margin-right: 30px;
            @include tablet{
                max-width: none;
            }
            .popup-title{
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                @include mobile{
                    position: relative;
                    padding-top: 35px;
                }
                p{
                    font-size: 12px;
                }
                h3{
                    font-size: 26px;
                    line-height: 30px;
                    span{
                        color: #e83e30;
                    }
                    @include mobile{
                        position: absolute;
                        top: 0;
                        right: 0; left: 0;
                        text-align: center;
                        margin: 0 auto;
                    }
                }
            }
            table{
                width: 100%;
                .tr1{
                    color: #fff;
                    text-align: center;
                    line-height: 28px;
                    td{
                        border-bottom: 1px solid #cdcdcd;
                        border-right: 1px solid #cdcdcd;
                    }
                    .td1{
                        background-color: #122c73;
                        border-radius: 10px 0 0 0;
                    }
                    .td2{
                        background-color: #3d92f5;
                    } 
                    .td3{
                        background-color: #3d92f5;
                    }
                }
                .tr2{
                    background-color: #fff;
                    text-align: center;
                    td{
                        border-right: 1px solid #cdcdcd;
                        p{
                            font-size: 11px;
                            color: #666;;
                            font-weight: 500;
                            line-height: 12px;
                            margin-top: 5px;
                        }
                    }
                    .td1{
                        border-radius: 0 0 0 10px;
                    }
                    .td5{
                        border-radius: 0 0 10px 0;
                        border-right: 0;
                    }
                }
            }
            .table-pc{     
                margin-top: 10px;
                @include tablet{
                    display: none;
                }
                .tr1{     
                    .td4{
                        background-color: #0b62bb;
                        border-right: 0;
                        border-radius: 0 10px 0 0;
                    }
                }
                .tr2{
                    td{
                        padding: 13px 0;
                        vertical-align: middle;
                        span{
                            font-size: 22px;
                            font-weight: 900;
                            line-height: 20px;
                        }
                        
                    }
                    .td1{
                        width: 10%;
                    }
                    .td2{
                        width: 12%;
                    }
                    .td3{
                        width: 11%;
                    }
                    .td4{
                        width: 11%;
                        padding: 10px 0 5px;
                        span{
                            font-size: 12px;
                            line-height: 12px;
                            &.per{
                                font-size: 16px;
                                line-height: 16px;
                                color: #0b62bb;
                            }
                        }
                        p{
                            margin-top: 8px;
                        }
                    }
                }
            }
            .table-wrap{
                display: none;
                margin-top: 10px;
                @include tablet{
                    display: block;
                }
                @include mobile{
                    margin-top: 5px;
                }
                .table-m{
                    .tr1{
                        td{
                            width: 40%;
                        }
                        .td3{
                            width: 20%;
                            border-right: 0;
                            border-radius: 0 10px 0 0;
                        }
                    }
                    .tr2{
                        td{
                            padding: 5px 0;
                            width: 20%;
                            span{
                                font-size: 13px;
                                font-weight: 900;
                                line-height: 14px;
                            }
                        }
                    }
                }
                .table-m2{
                    margin-top: 5px;
                    .tr3{
                        .td1{
                            width: 20%;
                            text-align: center;
                            color: #fff;
                            line-height: 28px;
                            background-color: #0b62bb;
                            border-radius: 10px 0 0 10px;
                            @include mobile{
                                font-size: 14px;
                                line-height: 14px;
                                width: 10%;
                                padding: 6px 0;
                                height: 40px;
                            }
                        }
                        .td2{
                            width: 80%;
                            background-color: #fff;
                            border-radius: 0 10px 10px 0;
                            padding-left: 15px;
                            @include mobile{
                                padding-left: 10px;
                            }
                            span{
                                font-size: 13px;
                                color: #000;
                                padding: 0px 1%;
                                @include mobile{
                                    padding: 0;
                                }
                                &.s1{
                                    font-size: 11px;
                                    color: #666;
                                    border-left: 1px solid #aaa;
                                    @include mobile{
                                        border-left: 0;
                                    }
                                    &:first-child{
                                        border-left: 0;
                                    }
                                }
                                &.per{
                                    color: #0b62bb;
                                    @include mobile{
                                        margin-right: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        ul{
            max-width: 260px;
            width: 100%;
            font-size: 14px;
            font-weight: 700;
            @include tablet{
                max-width: none;
                display: flex;
                flex-wrap: wrap;
                margin: 0 auto;
                margin-top: 10px;
                width: 680px;              
            }
            @include mobile{
                width: 100%;
                display: block;
            }
            li{
                line-height: 20px;
                margin-top: 10px;
                &:first-child{
                    margin-top: 0;
                }
                @include tablet{
                    margin-top: 0;
                    margin-right: 10px;
                }
                @include mobile{
                    margin-top: 5px;
                }
                span{
                    display: inline-block;  
                    padding: 3px 20px;
                    margin-right: 10px;
                    text-align: center;
                    color: #fff;
                    border-radius: 10px;
                    background-color: #122c73;
                }
            }
        }
    }  
    .popup-btns{
        position: absolute;
        top: 10px; right: 100px;
        display: flex;
        @include tablet{
            position: sticky;
            justify-content: flex-end;
            padding: 0 30px;
        }
        @include mobile{
            justify-content: start;
            flex-direction: row-reverse;
            padding: 0 10px;
        }
        .popup-close{
            background-color: transparent;
            margin-right: 10px;
            font-weight: 700;
        }
        .popup-chk{
            label{
                @include mobile{
                   margin-right: 10px;
                }
            }
        }
    }
}