.wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .nav-wrap{
        width: $navigation-width;
        height: 100vh;
        transition: $transition;
    }
    .navactive{
        width: $navigation-active;
    } 
    .wrap{
        width: calc(100% - $navigation-width);
        transition: $transition;
        .header-wrap{  
            height: 100px;
        }
        .container{

        }
    } 
    .wrapactive{
        width: calc(100% - $navigation-active);
    }  
}