.wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .nav-wrap{
        width: $navigation-width;
        height: 100vh;
        transition-property: width;
        transition-duration: $transition;
    }
    .navactive{
        width: $navigation-active;
        .navigation{
            menu{
                nav{
                    ul{
                        li{
                            a{
                                width: 233px;
                            }
                        }
                    }
                }
                .btns{
                    ul{
                        li{
                            width: 233px;
                            &:last-child{
                                height: 82px;
                            }
                            span{
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    } 
    main{
        width: calc(100% - $navigation-width);
        transition-property: width;
        transition-duration: $transition;
        .header-wrap{  
            height: 100px;
        }
        .container{

        }
    } 
    .mainactive{
        width: calc(100% - $navigation-active);
    }  
}