.gnb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding: 160px 0;
}

.gnb .gnb-item {
  width: 20%;
}

.gnb .gnb-item a {
  font-size: 40px;
}

.gnb .gnb-item .depth {
  margin-top: 40px;
  background-color: #55a8d1;
  height: 0;
  overflow: hidden;
  -webkit-transition: height, 0.3s;
  transition: height, 0.3s;
}

.gnb .gnb-item .depth ul li {
  font-size: 20px;
  line-height: 40px;
}

.gnb .gnb-item .active {
  height: 200px;
}
