@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
body {
  font-family: 'Noto Sans KR', sans-serif;
  min-width: 360px;
  font-size: 16px;
}

div.wrap {
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
}

div.wrap header {
  padding: 34px 0 21px;
}

div.wrap header h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

div.wrap header h1 a {
  width: 63px;
  height: 47px;
  display: inline-block;
  margin-right: 7px;
}

div.wrap .line .line_top {
  height: 2px;
  background-color: #a91313;
}

div.wrap .line .line_bottom {
  height: 1px;
  background-color: #a91313;
  margin-top: 2px;
}

div.wrap section {
  margin-top: 51px;
}

div.wrap section article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.wrap section article h3 {
  padding: 23px 0;
  margin-left: 26px;
  font-size: 34.5px;
  line-height: 37px;
  color: #d41b1b;
}

div.wrap section article h3 b {
  font-weight: bold;
}

div.wrap section article img {
  width: 120px;
  height: 120px;
}

div.wrap section p {
  font-size: 20px;
  line-height: 19px;
  color: #000;
  text-align: center;
}

div.wrap section .button {
  width: 140px;
  height: 32px;
  border: 1px solid #040000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 22px;
  margin-left: 148px;
}

div.wrap section .button a {
  font-size: 14px;
  line-height: normal;
  color: #000;
}

div.wrap aside {
  background-color: #f2f2f2;
  border-radius: 5px;
  margin-top: 112px;
  padding: 18px 0px 18px 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.wrap aside img {
  width: 67px;
  height: 59px;
}

div.wrap aside .texts {
  margin-left: 20px;
}

div.wrap aside .texts h4 {
  font-size: 16px;
  line-height: normal;
  color: #000;
}

div.wrap aside .texts p {
  font-size: 14px;
  line-height: normal;
  color: #555;
  margin-top: 10px;
}

@media (max-width: 720px) {
  div.wrap header {
    padding: 65px 0 51px;
  }
  div.wrap header h1 a {
    width: 116px;
    height: 86px;
    margin-right: 0;
  }
  div.wrap header h1 a img {
    width: 100%;
  }
  div.wrap section {
    margin-top: 51px;
  }
  div.wrap section article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  div.wrap section article img {
    width: 99px;
    height: 99px;
  }
  div.wrap section article h3 {
    padding: 0;
    margin-left: 25.5px;
    margin-top: 7px;
    font-size: 40px;
    line-height: 43.5px;
    color: #d41b1b;
  }
  div.wrap section article h3 b {
    font-weight: bold;
  }
  div.wrap section p {
    font-size: 30.5px;
    line-height: 29px;
    color: #000;
    margin-top: 51px;
  }
  div.wrap section .button {
    width: 400px;
    height: 80px;
    margin-left: 0;
    margin: 0 auto;
    margin-top: 47px;
  }
  div.wrap section .button a {
    font-size: 27.5px;
    line-height: normal;
    color: #000;
  }
  div.wrap aside {
    margin-top: 172px;
    padding: 41px 0px 50px 36px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  div.wrap aside img {
    width: 137px;
    height: 119px;
  }
  div.wrap aside .texts {
    margin-left: 0;
  }
  div.wrap aside .texts h4 {
    font-size: 28px;
    line-height: 30.5px;
    color: #000;
  }
  div.wrap aside .texts p {
    font-size: 24px;
    line-height: 22px;
    color: #555;
    margin-top: 26px;
  }
  div.wrap aside .texts p b {
    font-weight: bold;
  }
}

@media (max-width: 420px) {
  div.wrap {
    width: 90%;
  }
  div.wrap header {
    padding: 20px 0;
  }
  div.wrap header h1 a {
    width: 63px;
    height: 47px;
  }
  div.wrap section {
    margin-top: 30px;
  }
  div.wrap section article h3 {
    font-size: 16px;
  }
  div.wrap section p {
    font-size: 18px;
    margin-top: 30px;
  }
  div.wrap section .button {
    width: 250px;
    height: 60px;
  }
  div.wrap aside {
    margin-top: 40px;
  }
  div.wrap aside img {
    width: 67px;
    height: 59px;
  }
  div.wrap aside .texts h4 {
    font-size: 14px;
  }
  div.wrap aside .texts p {
    font-size: 14px;
    margin-top: 10px;
  }
}
