@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
body {
  font-family: 'Noto Sans KR', sans-serif;
  min-width: 360px;
  font-size: 16px;
}

div.wrap {
  max-width: 640px;
  width: 90%;
  margin: 0 auto;
}

div.wrap header {
  padding: 34px 0 21px;
}

div.wrap header h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

div.wrap header h1 a {
  width: 63px;
  height: 47px;
  display: inline-block;
  margin-right: 7px;
}

div.wrap .line .line_top {
  height: 2px;
  background-color: #a91313;
}

div.wrap .line .line_bottom {
  height: 1px;
  background-color: #a91313;
  margin-top: 2px;
}

div.wrap section {
  margin-top: 51px;
}

div.wrap section article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.wrap section article h3 {
  padding: 23px 0;
  margin-left: 26px;
  font-size: 34.5px;
  line-height: 37px;
  color: #d41b1b;
}

div.wrap section article h3 b {
  font-weight: bold;
}

div.wrap section article img {
  width: 120px;
  height: 120px;
}

div.wrap section p {
  font-size: 20px;
  line-height: 19px;
  color: #000;
  text-align: center;
}

div.wrap section .button {
  width: 140px;
  height: 32px;
  border: 1px solid #040000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 22px;
  margin-left: 148px;
}

div.wrap section .button a {
  font-size: 14px;
  line-height: normal;
  color: #000;
}

div.wrap aside {
  background-color: #f2f2f2;
  border-radius: 5px;
  margin-top: 112px;
  padding: 18px 0px 18px 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.wrap aside img {
  width: 67px;
  height: 59px;
  margin-right: 2%;
}

div.wrap aside .texts {
  margin-left: 20px;
}

div.wrap aside .texts h4 {
  font-size: 16px;
  line-height: normal;
  color: #000;
}

div.wrap aside .texts p {
  font-size: 14px;
  line-height: normal;
  color: #555;
  margin-top: 10px;
}

@media (max-width: 640px) {
  div.wrap section {
    margin-top: 40px;
  }
  div.wrap section article h3 {
    font-size: 26px;
    line-height: 30px;
    color: #d41b1b;
  }
  div.wrap section article img {
    width: 110px;
    height: 110px;
  }
  div.wrap section p {
    margin-top: 25px;
  }
  div.wrap section .button {
    width: 160px;
    height: 40px;
    margin-left: 0;
    margin: 0 auto;
    margin-top: 24px;
  }
  div.wrap aside {
    margin-top: 86px;
    padding: 10px 0px 12px 9px;
  }
}

@media (max-width: 520px) {
  div.wrap section {
    margin-top: 30px;
  }
  div.wrap section article img {
    width: 60px;
    height: 60px;
  }
  div.wrap section article h3 {
    padding: 0;
    margin-left: 13px;
    margin-top: 10px;
    font-size: 20px;
    line-height: 22px;
    color: #d41b1b;
  }
  div.wrap section p {
    font-size: 15px;
    line-height: 15px;
    color: #000;
  }
  div.wrap section .button {
    width: 200px;
    height: 40px;
  }
  div.wrap aside {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  div.wrap aside img {
    width: 78px;
    height: 60px;
  }
  div.wrap aside .texts {
    margin-left: 0;
  }
  div.wrap aside .texts h4 {
    font-size: 14px;
    line-height: 15px;
    color: #000;
  }
  div.wrap aside .texts p {
    font-size: 12px;
    line-height: 11px;
    color: #555;
    margin-top: 13px;
  }
  div.wrap aside .texts p b {
    font-weight: bold;
  }
}

@media (max-width: 360px) {
  div.wrap section {
    margin-top: 23px;
  }
  div.wrap section article img {
    width: 50px;
    height: 50px;
  }
  div.wrap section article h3 {
    margin-top: 3px;
  }
}
