@import url(reset.css);
@import url(common.css);
@import url(responsive.main.css);
@mixin fonts ($fz, $fw, $c){
    font-size: #{$fz}px;
    font-weight: #{$fw};
    color: $c;
}
#wrapper{
    main{
        max-width: 1200px;
        width: 95%;
        margin: 0 auto; 
        margin-top: 25px;
        position: relative;
        section{     
            width: 300%;
            margin: 0 auto;
            height: 400px;
            position: relative;
            .swiper-slide{
                width: 33.33%;
                background-image: url(../img/2020-1-15.png);
                background-position: center;
                background-size: cover; 
            }
        }
        .btn{
            width: 40px;
            height: 80px;
            position: absolute;
            top: 0; bottom: 0;
            margin: auto;
            z-index: 111;
            i{
                font-size: 80px;
                line-height: 80px;
                font-weight: 900;
                opacity: 0.5;
                color: #fff;
                cursor: pointer;
            }
        }
        .button-next{
            right: 10px;
        }
        .button-prev{
            left: 10px;
        }
        .pagination{
            width: 222px;
            position: absolute;
            right: 0; left: 0;
            bottom: 20px;
            margin: auto;
            z-index: 111;
            span{
                width: 60px;
                height: 6px;
                background-color: #fff;
                opacity: 0.5;
                border: 0;
                margin: 0 5px;
                border-radius: 0;
                cursor: pointer;
                &.swiper-pagination-bullet-active{
                    opacity: 1;
                }
            }
        }
    }
    .container{
        max-width: 1200px;
        width: 95%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        margin-top: 80px;
        section{
            width: 33.33%;
            h3{
                @include fonts(30, 500, #000);
                line-height: 30px;
            }
        }
        .focus{
            article{
                display: flex;
                height: 106px;
                align-items: center;
                position: relative;
                .image{
                    background-position: center;
                    background-size: cover;
                    width: 53px;
                    height: 53px;
                    margin-right: 20px;
                }
                .texts{
                    h4{
                        @include fonts(18, 400, #000);
                        line-height: 20px;                   
                    }
                    p{
                        @include fonts(14, 400, #666);  
                        line-height: 20px;
                        margin-top: 5px;
                    }
                }
                .i1{background-image: url(../img/layer-42.png);}
                .i2{background-image: url(../img/layer-43.png);}
                .i3{background-image: url(../img/layer-44.png);}
                .i4{background-image: url(../img/layer-45.png);}
                &:first-of-type{
                    margin-top: 9px;
                }
                &::after{
                    content: "";
                    width: calc(100% - 30px);
                    height: 2px;
                    background-color: #ccc;
                    position: absolute;
                    bottom: 0;
                }
            }
        }
        .gnb{
            article{
                margin-top: 28px;
                border: 1px solid #dfdfdc;
                background-color: #f8f8f8;
                .nav{    
                    display: flex;
                    flex-wrap: wrap;
                    padding: 30px 20px;
                    h2{      
                        width: 33.33%;
                        @include fonts(18, 500, #666);
                        line-height: 85px;
                        text-align: center;
                        border-bottom: 1px dashed #dfdfdc;
                        border-right: 1px dashed #dfdfdc;
                        &:nth-of-type(3n){
                            border-right: 0;
                        }
                        &:nth-of-type(n+10){
                            border-bottom: 0;
                        }
                        a{
                            display: inline-block;
                            width: 100%;
                            height: 100%;
                            &:hover{
                                background-color: rgba(0,0,0,0.1);
                            }
                        }
                    }
                }
            }
        }
    }
    .contents{
        max-width: 1200px;
        width: 95%;
        margin: 0 auto;
        padding-top: 80px;
        h3{
            @include fonts(28, 500, #000);
            line-height: 30px;
        }
        section{
            margin-top: 30px;
        }
    }
    .content{
        section{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            row-gap: 20px;
            article{
                width: calc(33.33% - 20px);
                border-radius: 5px;
                border: solid 1px #ccc;
                .image{
                    height: 240px;
                    background-image: url(../img/layer-47.png);
                    background-position: center;
                    background-size: cover;
                }
                .texts{
                    padding: 30px 20px 20px;
                    h4{
                        @include fonts(18, 500, #000);
                        line-height: 20px;
                    }
                    h5{
                        @include fonts(14, 400, #666);
                        margin-top: 15px;
                    }
                    p{
                        width: calc(100% - 5px);
                        @include fonts(16, 300, #333);
                        line-height: 20px;
                        margin-top: 20px;
                    }
                }
            }
        }
    }
    .channel{
        padding-bottom: 100px;
        section{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            row-gap: 20px;
            article{
                width: calc(25% - 20px);
                border-radius: 5px;
                border: solid 1px #ccc;                
            }
            .image{
                height: 240px;
                background-image: url(../img/layer-47.png);
                background-position: center;
                background-size: cover;
            }
            .texts{
                padding: 30px 18px 20px;
                    h4{
                        @include fonts(18, 500, #000);
                        line-height: 20px;
                    }
                    h5{
                        @include fonts(14, 400, #666);
                        margin-top: 15px;
                    }
                    p{
                        @include fonts(16, 300, #333);
                        line-height: 20px;
                        margin-top: 20px;
                    }
            }
        }
    }
}

@media (max-width:1200px) {
    #wrapper{
        .container{
            section{
                width: 35%;
                h3{
                    line-height: 30px;
                }
            }
            .focus{
                article{
                    .image{
                        margin-right: 10px;
                    }
                }
            }
            .gnb{
                width: 30%;
                article{
                    .nav{    
                        padding: 30px 0;
                        h2{      
                            font-size: 16px;
                        }
                    }
                }
            }
        }
        .channel{
            section{
                .texts{
                    padding: 20px 5px;
                        p{
                            br{
                                display: none;
                            }
                        }
                }
            }
        }
    }    
}

@media (max-width:1024px) {
    #wrapper{
        main{
            section{
                height: 350px;
            }
        }
        .container{
            flex-wrap: wrap;
            section{
                width: 50%;
                h3{
                    line-height: 30px;
                }
            }
            .gnb{
                width: 100%;
                margin-top: 80px;
                article{
                    .nav{    
                        padding: 0;
                        h2{      
                            width: calc(100% / 6);
                            font-size: 16px;
                            &:nth-of-type(3),
                            &:nth-of-type(9){
                                border-right: 1px dashed #dfdfdc;
                            }
                            &:nth-of-type(n+7){
                                border-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
        .content{
            section{
                article{
                    width: calc(50% - 20px);
                    &:nth-of-type(4),
                    &:nth-of-type(5){
                        display: none;
                    }
                }
            }
        }
        .channel{
            section{
                article{
                    width: calc(33.33% - 20px);
                    &:nth-of-type(7),
                    &:nth-of-type(8){
                        display: none;
                    }
                    .texts{
                        padding: 20px 5px;
                            p{
                                br{
                                    display: none;
                                }
                            }
                    }
                }
            }
        }
    }    
}

@media (max-width:768px) {
    #wrapper{
        main{
            section{
                height: 300px;
            }
        }
        .container{
            section{
                width: 50%;
            }
            .gnb{
                width: 100%;
                margin-top: 80px;
                article{
                    .nav{    
                        padding: 0;
                        h2{      
                            width: calc(100% / 6);
                            font-size: 16px;
                            &:nth-of-type(3),
                            &:nth-of-type(9){
                                border-right: 1px dashed #dfdfdc;
                            }
                            &:nth-of-type(n+7){
                                border-bottom: 0;
                            }
                        }
                    }
                }
            }
            .focus{
                article{
                    .texts{
                        h4{
                            font-size: 14px;
                            font-weight: 500;
                        }
                    }
                    &::after{
                        width: calc(100% - 10px);
                    }
                }
            }
        }
        .content{
            section{
                article{
                    width: 100%;
                    display: flex;
                    &:nth-of-type(3){
                        display: none;
                    }
                    .image{
                        width: 50%;
                        height: auto;
                    }
                    .texts{
                        width: 50%; 
                    }
                }
            }
        }
        .channel{
            section{
                article{
                    width: calc(50% - 10px);
                    &:nth-of-type(5),
                    &:nth-of-type(6){
                        display: none;
                    }
                }
            }
        }
    }    
}

@media (max-width:600px){
    #wrapper{
        .container{
            margin-top: 40px;
            section{
                width: 100%;
                &:nth-of-type(2){
                    margin-top: 40px;
                }
            }
            .gnb{
                margin-top: 40px;
                article{
                    .nav{    
                        padding: 0;
                        h2{      
                            width: 25%;
                            font-size: 16px;
                            &:nth-of-type(7),
                            &:nth-of-type(8){
                                border-bottom: 1px dashed #dfdfdc;
                            }
                            &:nth-of-type(6){
                                border-right: 1px dashed #dfdfdc;
                            }
                            &:nth-of-type(4n){
                                border-right: 0;
                            }
                        }
                    }
                }
            }
            .focus{
                article{
                    .texts{
                        h4{
                            font-size: 18px;
                            font-weight: 500;
                        }
                    }
                    &::after{
                        width: 90%;
                    }
                }
            }
        }
        .contents{
            padding-top: 40px;
        }
        .content{
            section{
                article{
                    display: block;
                    &:nth-of-type(3){
                        display: none;
                    }
                    .image{
                        width: 100%;
                        height: 200px;
                    }
                    .texts{
                        width: 100%; 
                    }
                }
            }
        }
        .channel{
            section{
                article{
                    width: 100%;
                    .texts{
                        padding: 30px 20px 20px;
                    }
                }
            }
        }
    }    
}

@media (max-width:480px){
    #wrapper{
        main{
            section{
                height: 210px;
            }
            .btn{
                display: none;
            }
        }
        .container{
            .gnb{
                margin-top: 40px;
                article{
                    .nav{    
                        padding: 0;
                        h2{      
                            width: 33.33%;
                            font-size: 16px;
                            border-bottom: 1px dashed #dfdfdc;
                            border-right: 1px dashed #dfdfdc;
                            &:nth-of-type(3n){
                                border-right: 0;
                            }
                            &:nth-of-type(4),
                            &:nth-of-type(8){
                                border-right: 1px dashed #dfdfdc;
                            }
                            &:nth-of-type(9){
                                border-bottom: 1px dashed #dfdfdc;
                            }
                        }
                    }
                }
            }
            .focus{
                article{
                    .texts{
                        h4{
                            font-size: 16px;
                            font-weight: 400;
                        }
                    }
                    &::after{
                        width: 100%;
                    }
                }
            }
        }
    }    
}