.wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .nav-wrap{
        position: relative;
        width: $navigation-width;
        height: 100vh;
        transition-property: width;
        transition-duration: $transition;
    }
    .navactive{
        width: $navigation-active;
        .navigation{
            padding: 14px 32px;
            menu{
                nav{
                    ul{
                        li{
                            a{
                                width: 233px;
                            }
                        }
                    }
                }
                .btns{
                    ul{
                        li{
                            width: 233px;                 
                        }
                        .gift-box{
                            height: 82px;
                        }
                    }
                }
            }
        }
    } 
    main{
        width: calc(100% - $navigation-width);
        transition-property: width;
        transition-duration: $transition;
    } 
    .mainactive{
        width: calc(100% - $navigation-active);
    }  
    .container{
        height: calc(100vh - 87px);
        background-color: #f4f5fa;
    }
}