.customers{
    .contents{
        grid-template-columns: 1fr 1fr;
        .customers-list {
            padding: 20px;
            grid-column: 1/3;
            grid-row: 2/3;
            .title{
                @include fonts('Inter', 16, 500, 20, #45464e);
            }
        }
    }
}

.new-customer{
    width: 423px;
    height: 513px;
    section{
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }
    .modal-btns{
        width: 100%;
    }
}