.container{
    height: calc(100vh - 87px);
    .dashboard{
        height: 100%;
        padding: 20px 10px;

        section{
            .prod,.graph{
                padding: 20px;
                .header{
                    @include fonts('Inter', 16, 500, 20, #45464e)
                }
            }
        }

        .summary{
            padding: 15px;
            &:first-child{
                .header{
                    .icon{
                        background-color: rgba(85, 112, 241, 0.12);
                    }
                }
            } 
            .header{
                .icon{
                    width: 36px;
                    height: 36px;
                    border-radius: 8px;
                    background-color: rgba(255, 204, 145, 0.16);
                    position: relative;                         
                    img{
                        position: absolute;
                        top: 0; bottom: 0; left: 0; right: 0;
                        margin: auto;
                    }
                }
            }
            .texts{
                margin-top: 32px;
                ul{
                    display: flex;
                    justify-content: space-between;
                    flex-grow: 1;
                    li{
                        width: 100%;
                        .text{
                            @include fonts ('Inter', 14, 400, 14, #8b8d97);
                        }
                        .data{
                            @include fonts ('Inter', 20, 500, 30, #45464e);
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
        .cnts1{
            display: flex;
            justify-content: space-around;
            article{
                width: calc(33.33% - 20px);
                height: 15vh;
                background-color: #fff;
                margin: 0 10px;
                border-radius: 12px;
            }
        }
        .cnts2{
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            .chart{
                width: calc(66.66% - 20px);
                margin: 0 10px;
                .cnts3{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    .graph{
                        margin-top: 0;
                    }
                    article{
                        width: calc(50% - 10px);
                        height: calc(35vh - 20px);
                        background-color: #fff;
                        border-radius: 12px;
                    }
                    .cnts4{
                        width: calc(50% - 10px);
                        article{
                            width: 100%;
                            height: calc(17.5vh - 20px);
                            margin-top: 20px;
                            background-color: #fff;
                            border-radius: 12px;
                            &:first-child{
                                margin-top: 0;
                            }
                        }
                        .bgcb{
                            background-color: $b;
                            .header{
                                .icon{
                                    background-color: rgba(255, 255, 255, 0.16);
                                }
                            }
                            .texts{
                                ul{
                                    li{
                                        p{
                                            color: #fff;
                                        }
                                    }
                                }
                            }
                        }
                    }    
                }
                .graph{
                    background-color: #fff;
                    margin-top: 20px;
                    height: calc(35vh - 20px);
                    border-radius: 12px;
                }
            }
            .prod{
                width: calc(33.33% - 20px);
                height: calc(70vh - 20px);
                background-color: #fff;
                margin: 0 10px;
                border-radius: 12px; 
                ul{
                    margin-top: 20px;
                    li{
                        display: flex;
                        border-bottom: 1px solid #f1f3f9;
                        padding: 10px 0;
                        &:first-child{
                            padding-top: 0;
                        }
                        .img{
                            width: 49px;
                            height: 49px;
                            margin-right: 15px;
                        }
                        .texts{
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            .text{
                                .prod-name{
                                    @include fonts('Inter', 14, 400, 20, #45464e);
                                }
                                .prod-price{
                                    margin-top: 5px;
                                    @include fonts('Inter', 14, 500, 20, #33343a);
                                }
                                .prod-date{
                                    @include fonts('Inter', 12, 400, 20, #a6a8b1);
                                }
                                .prod-state{
                                    @include fonts('Inter', 12, 400, 20, #cc5f5f);
                                    margin-top: 5px;
                                    padding: 0 15px;
                                    border-radius: 8px;
                                }   
                                .pending{
                                    background-color: rgba(245, 126, 119, 0.12);
                                }
                                .completed{
                                    color: #519c66;
                                    background-color: rgba(50, 147, 111, 0.12);
                                }

                            }
                        }
                    }
                }
            }
        }
    }
}