.container{
    height: calc(100vh - 87px);
    .dashboard{
        height: 100%;
        padding: 20px 10px;
        .summary{
            &:first-child{
                .header{
                    .icon{
                        background-color: rgba(85, 112, 241, 0.12);
                    }
                }
            } 
            .header{
                padding: 15px;
                .icon{
                    width: 36px;
                    height: 36px;
                    border-radius: 8px;
                    background-color: rgba(255, 204, 145, 0.16);
                    position: relative;                         
                    img{
                        position: absolute;
                        top: 0; bottom: 0; left: 0; right: 0;
                        margin: auto;
                    }
                }
            }
            .texts{
                margin-top: 15px;
                ul{
                    display: flex;
                    justify-content: space-between;
                    flex-grow: 1;
                    li{
                        width: 100%;
                        margin: 0 15px;
                        .text{
                            @include fonts ('Inter', 14, 400, 14, #8b8d97);
                        }
                        .data{
                            @include fonts ('Inter', 20, 500, 20, #45464e);
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
        .cnts1{
            display: flex;
            justify-content: space-around;
            article{
                width: calc(33.33% - 20px);
                height: 15vh;
                background-color: #fff;
                margin: 0 10px;
                border-radius: 12px;
            }
        }
        .cnts2{
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            .chart{
                width: calc(66.66% - 20px);
                margin: 0 10px;
                .cnts3{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    article{
                        width: calc(50% - 10px);
                        height: calc(35vh - 20px);
                        background-color: #fff;
                        border-radius: 12px;
                    }
                    .cnts4{
                        width: calc(50% - 10px);
                        article{
                            width: 100%;
                            height: calc(17.5vh - 20px);
                            margin-top: 20px;
                            background-color: #fff;
                            border-radius: 12px;
                            &:first-child{
                                margin-top: 0;
                            }
                        }
                    }
                }
                .graph{
                    background-color: #fff;
                    margin-top: 20px;
                    height: calc(35vh - 20px);
                    border-radius: 12px;
                }
            }
            .prod{
                width: calc(33.33% - 20px);
                height: calc(70vh - 20px);
                background-color: #fff;
                margin: 0 10px;
                border-radius: 12px;
            }
        }
    }
}