.inventory{
    .contents{
        grid-template-columns: 1fr 1fr;
        .table-area {
            padding: 20px;
            grid-column: 1/3;
            grid-row: 2/3;
            table{
                tbody{
                    tr{
                        td{
                            padding: 6px 0;
                        }
                    }
                }
            }
        }
    }
    .folder{
        background-color: $b;
        .header{
            .icon-box{
                background-color: rgba(255, 255, 255, 0.16);
            }
        }
        ul{
            li{
                .tit{
                    color: #fff;
                }
                .value{
                    color: #fff;
                    dd{
                        color: #dbdeee;
                    }
                }
            }
        }
    }
}