.settings{
    padding: 20px;
    section{
        height: calc(100vh - 127px);
        min-height: calc(100vh - 127px);
        background-color: #fff;
        border-radius: 12px;
        padding: 16px 36px;
        @include mdq-desktop {
            height: auto;
        }
        @include mdq-mobile {
            padding: 16px 20px;
        }
        .nav{
            ul{
                max-width: 400px;
                width: 100%;
                display: flex;
                flex-grow: 1;
                li{
                    @include fonts('Inter', 16, 400, 40, #abafb1);
                    width: 100%;
                    text-align: center;
                    a{
                        display: inline-block;
                        width: 100%;
                        height: 100%;
                    }
                    .router-link-active{
                        border-bottom: 4px solid #5570f1;
                        color: #2b2f32;
                    }
                }
            }
        }
        article{
            margin-top: 20px;
            .settings-header{
                display: flex;
                justify-content: space-between;
                align-items: center;
                h5{
                    @include fonts('Poppins', 20, 500, 58, #45464e);
                }
                .btn{
                    width: 180px;
                    border-radius: 12px;
                    background-color: #5570f1;
                    text-align: center;
                    @include mdq-mobile {
                        width: 90px;
                        height: 30px;
                    }
                    button{
                        @include fonts('Inter', 20, 400, 58, #fff);
                        @include mdq-mobile {
                            @include fonts('Inter', 14, 400, 30, #fff);
                        }
                    }
                }
            }
            .contents{
                margin-top: 30px;
                display: flex;
                @include mdq-tablet{
                    flex-direction: column-reverse;
                }
                .profile{
                    max-width: 375px;
                    width: 100%;
                    margin-right: 77px;
                    @include mdq-tablet{
                        margin-top: 30px;
                        margin-right: 0;
                    }
                    ul{
                        .input-box-area{
                            margin-top: 16px;
                            &:first-child{
                                margin-top: 0;
                            }
                            p{
                                text-indent: 5px;
                                @include fonts('Inter', 12, 400, 15, #5e6366)
                            }
                            .phone-box{
                                background-color: #fff;
                                .select-box{
                                    width: 142px;
                                    margin-right: 6px;
                                    background-image: url('../images/settings/Arrow-Down2.png');
                                    .selected{
                                        .value{
                                            display: flex;
                                            align-items: center;
                                            img{
                                                margin-right: 8px;
                                            }
                                        }
                                    }
                                    ul{
                                        .option{
                                            display: flex;
                                            align-items: center;
                                            img{
                                                margin-right: 8px;
                                                height: 20px;
                                            }
                                        }
                                    }
                                }
                                input{
                                    width: calc(100% - 148px);
                                    background-color: rgba(239, 241, 249, 0.6);
                                    border-radius: 8px;
                                }
                            }
                            .no-icon{
                                input{
                                    padding-left: 16px;
                                }
                            }                        
                        }
                        .double{
                            display: flex;
                            justify-content: space-between;
                            .select-box-area{
                                width: calc(50% - 6px);
                                .select-box{
                                    margin-top: 10px;
                                    .selected{
                                        .value{
                                            color: #5e6366;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .user-image{
                    .image-box{
                        width: 172px;
                        height: 167px;
                        position: relative;
                        img{
                            border-radius: 12px;
                        }
                        .btns{
                            position: absolute;
                            top: 14px;
                            right: 14px;
                            button{
                                width: 32px;
                                height: 32px;
                                padding: 6px;
                                border-radius: 8px;
                                background-color: #fff2e2;
                            }
                        }
                    }
                }
            }
        }
    }
}