.table-area {
    @include fonts('Inter', 14, 400, 17, #6e7079);
    .title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        h5{ 
            @include fonts('Inter', 16, 500, 20, #45464e);
        }
        .table-btns{
            display: flex;
            @include mdq-tablet {
                display: none;
            }
            li{
                position: relative;
                button{
                    width: 100%;
                    height: 100%;
                }
                span{
                    @include fonts('Inter', 11, 400, 16, #53545c);
                }
                .select-box {
                    background-image: url('../images/table/fi_chevron-down2.png');
                    background-position: center right 8px;
                    border-radius: 4px;
                    border: 1px solid #53545c;
                    background-color: #fff;
                    cursor: pointer;
                    .selected{
                        padding: 7px 32px 7px 8px;
                        .value{
                            @include fonts('Inter', 11, 400, 16, #53545c);
                        }
                    }
                    ul{
                        .option{
                            @include fonts('Inter', 11, 400, 16, #abafb1);
                            height: auto;
                            &:hover{
                                color: #000;
                            }
                        }
                    }
                }
            }
            .search-area{
                border-radius: 4px;
                border: solid 1px #cfd3d4;
                margin-right: 8px;
                display: flex;
                align-items: center;
                @include fonts('Inter', 12, 400, 16, #000);
                input::placeholder{
                    color: #abafb1;
                }
                button{
                    width: 36px;
                    height: 30px;
                    position: relative;
                    img{
                        @include center-align
                    }
                }
            }
            .btn{
                margin-right: 12px;
                border: 1px solid #53545c;
                border-radius: 4px;
                button{
                    display: flex;
                    align-items: center;
                    padding: 7px 8px;
                    img{
                        margin-right: 8px;
                    }
                }
                .popup-wrap{
                    position: absolute;
                    z-index: 1;
                    top: -3px; left: -3px;
                    .popup-filter{
                        width: 317px;
                        height: 478px;
                        padding: 24px 21px;
                        border-radius: 12px;
                        box-shadow: 0 4px 32px 0 rgba(61, 70, 112, 0.08);
                        background-color: #fff;
                        .popup-header{
                            h3{
                                @include fonts('Inter', 16, 500, 24, #1c1d22);
                            }
                        }
                        section{
                            .popup-close{
                                margin-top: 16px;
                                border-radius: 12px;
                                background-color: #5570f1;
                                button{
                                    @include fonts('Inter', 14, 400, 22, #fff);
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .table-wrap{
        width: 100%;
        white-space: nowrap;
        overflow-x: auto;
    }
    table{
        width: 100%;
        min-width: 1260px;
        margin-top: 20px;
        tr{
            td,th{
                input[type="checkbox"] {
                    width: 24px;
                    height: 24px;
                    border-radius: 8px;
                    border: solid 1px #cfd3d4;
                    appearance: none;
                    cursor: pointer;
                  }
                
                  input[type="checkbox"]:checked {
                    background: #cfd3d4;
                    border: none;
                  }
            }
        }
        thead{
            border-top: 1px solid #e1e2e9;
            border-bottom: 1px solid #e1e2e9;
            tr{
                th{
                    @include fonts('Inter', 14, 400, 0, #2c2d33);
                    padding: 14px 0;
                    vertical-align: middle;
                    text-align: left;
                    &.check{
                        width: 24px;
                        height: 24px;
                        padding-right: 22px;
                    }
                    &.image{
                        width: 58px;
                    }
                    span{
                        margin-right: 5px;
                    }
                    img{
                        vertical-align: middle;
                        cursor: pointer;
                    }
                }
            }
        }
        tbody{
            border-bottom: 1px solid #e1e2e9;
            tr{
                td{
                    vertical-align: middle;
                    padding: 12px 0;
                    b{
                        margin-right: 5px;
                    }
                    img{
                        vertical-align: middle;
                        cursor: pointer;
                    }
                }
                .select-box {
                    display: inline-block;
                    background-image: url('../images/table/fi_chevron-down.png');
                    background-position: center right 11px;
                    background-color: rgba(94, 99, 102, 0.08);
                    .selected{
                        padding: 4px 35px 4px 11px;
                        .value{
                            @include fonts('Inter', 12, 400, 15, #8b8d97);
                        }
                    }
                    ul{
                        .option{
                            @include fonts('Inter', 12, 400, 15, #8b8d97);
                            padding: 5px;
                        }
                    }
                }
            }
        }
    }
    .pagination{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        @include mdq-tablet {
            justify-content: flex-end;
            .paging:first-child{ 
                display: none;
            }
        }
        .paging{
            display: flex;
            align-items: center;
            .select-box{
                background-image: url('../images/table/fi_chevron-down.png');
                background-position: center right 11px;
                background-color: rgba(94, 99, 102, 0.08);
                margin-right: 10px;
                .selected{
                    padding: 4px 35px 4px 11px;
                    .value{
                        @include fonts('Inter', 12, 400, 15, #8b8d97);
                    }
                }
                ul{
                    .option{
                        @include fonts('Inter', 12, 400, 15, #8b8d97);
                        padding: 5px;
                        &:hover{
                            color: #000;
                        }
                    }
                }
            }
            p{
                @include fonts('Inter', 14, 400, 17, #666);
                margin-right: 20px;
                &.txt{
                    color: #a6a8b1;
                }
            }
            .btns{
                width: 40px;
                height: 16px;
                display: flex;
                justify-content: space-between;
            }
        }
    }
}