body{
    min-width: 360px;
    &.mobile-active{
        overflow: hidden;
    }
}
input{
    background: transparent;
    border: 0;
    padding: 0;
}
.input-box{
    display: flex;
    height: 52px;
    border-radius: 8px;
    background-color: rgba(239, 241, 249, 0.6);
    .icon-box{
        width: 56px;
        height: 52px;
        position: relative;
        background-size: 24px;
    }
    input{
        width: calc(100% - 56px);
        padding: 9px 16px 9px 0;
        @include fonts('Inter', 16, 400, 20, #5e6366);
    }
    input::placeholder{
        color: #abafb1;
    }
}
.input-ty02{
    input{
        width: 100%;
        padding: 9px 16px;
    }
}
.input-ty03{
    margin-top: 8px;
}
textarea{
    width: 100%;
    padding: 16px;
    border: 0;
    border-radius: 8px;
    background-color: rgba(239, 241, 249, 0.6);
    @include fonts('Inter', 16, 400, 18, #000);
}
textarea::placeholder{
    color: #abafb1;
}

.toggle-btn{
    width: 40px;
    height: 20px;
    border-radius: 10px;
    background-color: rgba(85, 112, 241, 0.12);
    padding: 2px;
    cursor: pointer;
    button{
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: #bbc5cb;
    }
}     
.btn-active{
    text-align: right;
    background-color: #5570f1;
    button{
        background-color: #fff;
    }
}

.modal-wrap{
    width: 100%;
    min-width: 360px;
    min-height: 100vh;
    height: 100vh;
    backdrop-filter: blur(8px);
    background-color: rgba(163, 163, 163, 0.2);
    position: fixed;
    display: block;
    z-index: 999;
    .modal-container{
        @include center-align;
        z-index: 1000;
        padding: 28px 24px;  
        background-color: #fff;
        border-radius: 12px;
        overflow-y: auto;
        overflow-x:hidden;
        .header{
            width: 100%;
            display: flex;
            justify-content: space-between;
            h3{
                @include fonts('Poppins', 20, 500, 32, #000);
            }
            .btn{
                width: 32px;
                height: 32px;
                padding: 4px;
                border-radius: 8px;
                background-color: #fff2e2;
            }
        }
        section{
            margin-top: 30px;
            article{
                .modal-title{
                    display: flex;
                    justify-content: space-between;
                    h5{
                        @include fonts('Inter', 16, 500, 20, #8b8d97);
                    }
                    .btn-area{
                        display: flex;
                        p{
                            @include fonts('Inter', 14, 400, 20, #83898c);
                            margin-right: 20px;
                        }
                    }
                }
                .input-box-area{
                    .input-box{
                        input{
                            @include fonts('Inter', 16, 400, 20, #53545c);
                        }
                    }
                }
            }
        }
        .modal-btns{
            width: 400px;
            margin: 40px auto 0;
            display: flex;
            justify-content: space-between;
            @include mdq-tablet{
                width: 380px;
            }
            @include mdq-mobile{
                width: 310px;
            }
            button{
                width: 180px;
                height: 58px;
                border-radius: 12px;
                border: solid 2px #5570f1;
                @include fonts('Inter', 20, 400, 30, #5570f1);
                @include mdq-mobile{
                    width: 140px;
                }
                &.point{
                    color: #fff;
                    background-color: #5570f1;
                }
            }
        }
    } 
}

.orders,.customers,.inventory{
    padding: 20px;
    .orders-header,.customers-header,.inventory-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3{
            @include fonts('Inter', 16, 500, 36, #45464e);
        }
        .btn{
            background-color: $b;
            border-radius: 12px;
            @include mdq-mobile{
                padding: 6px;
            }
            button{
                padding: 6px 16px 6px 47px;
                background-position: center left 16px;
                @include fonts('Inter', 14, 400, 24, #fff);
                @include mdq-mobile{
                    padding: 5px 0;
                    font-size: 12px;
                    line-height: 14px;
                    background-image: none;
                }
            }
            a{
                display: inline-block;
                padding: 6px 16px 6px 47px;
                background-position: center left 16px;
                background-repeat: no-repeat;
                @include fonts('Inter', 14, 400, 24, #fff);
                @include mdq-mobile{
                    padding: 5px 0;
                    font-size: 12px;
                    line-height: 14px;
                    background-image: none;
                }
            }
        }
    }
    .view-section,
    .new-section{
        .view-header,
        .new-header{
            @include mdq-desktop{
                align-items: start;
            }
            @include mdq-mobile{
                display: block;
            }
            ul{
                display: flex;
                @include mdq-desktop{
                    display: block;
                }
                li{
                    display: flex;
                    margin-right: 24px;
                    @include mdq-desktop{
                        margin-right: 8px;
                    }
                    p{
                        @include fonts('Inter', 16, 500, 36, #45464e);
                        @include mdq-desktop{
                            font-size: 14px;
                            line-height: 26px;
                        }
                        span{
                            color: #8b8d97;
                        }
                    }
                    .image{
                        width: 36px;
                        height: 36px;
                        margin-left: 4px;
                        position: relative;
                        @include mdq-desktop{
                            width: 26px;
                            height: 26px
                        }
                        img{
                            @include center-align;
                        }
                    }
                }
            }
            .btns{
                display: flex;
                @include mdq-mobile{
                    justify-content: flex-end;
                }
                .select-box {
                    width: 200px;
                    background-image: url('../images/orders/fi_chevron-down.png');
                    background-color: #1c1d22;
                    border-radius: 12px;
                    margin-right: 24px;
                    @include mdq-tablet{
                        margin-right: 0;
                        display: none;
                    }
                    .selected{
                        padding: 8px 16px;
                        .value{
                            @include fonts('Inter', 14, 400, 20, #fff);
                        }
                    }
                    ul{
                        display: block;
                        .option{
                            font-size: 14px;
                            &:hover{
                                color: #000;
                            }
                        }
                    }
                }
                .btn{
                    background-color: #cc5f5f;
                    padding: 0 16px;
                    border-radius: 12px;
                    a{
                        @include fonts('Inter', 14, 400, 36, #fff);
                        width: 100%;
                        height: 100%;
                        display: inline-block;
                    }
                }
            }
        }
    }
    .contents{
        min-height: 700px;
        height: calc(100vh - 183px);
        margin-top: 20px;
        display: grid;
        gap: 20px;
        grid-template-rows: 20% auto;
        @include mdq-desktop{
            height: auto;
            display: block;
            article{
                margin-top: 20px;
                &:first-child{
                    margin-top: 0;
                }
            }
        }
    }
}

.phone-box{
    background-color: #fff;
    .select-box{
        width: 142px;
        margin-right: 6px;
        background-image: url('../images/settings/Arrow-Down2.png');
        .selected{
            .value{
                display: flex;
                align-items: center;
                img{
                    margin-right: 8px;
                }
            }
        }
        ul{
            .option{
                display: flex;
                align-items: center;
                img{
                    margin-right: 8px;
                    height: 20px;
                }
            }
        }
    }
    input{
        width: calc(100% - 148px);
        background-color: rgba(239, 241, 249, 0.6);
        border-radius: 8px;
    }
}