@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url(normalize_v8.0.1.css);
@import url(normalize_v3.0.3.css);
@import url(reset.css);

@mixin fonts ($fz, $fw, $lh, $c){
    font-size: #{$fz}px;
    font-weight: #{$fw};
    line-height: #{$lh}px;
    color: $c;
}

@media print {
    .cnts-title{
        display: none;
    }
    button{
        display: none;
    }
}

body{
    font-family: "Noto Sans KR", serif;
    position: relative;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding-top: 500px;
    .main-btns{
        width: 500px;
        margin: 0 auto;
        button{
            width: 200px;
            padding: 20px 30px;
            border: 5px solid #000;
            background-color: #fff;
            margin: 0 20px;
            transition-property: "background-color", "color";
            transition-duration: 0.3s;
            &:hover{
                background-color: rgb(150, 135, 135);
                color: #fff;
            }
        }
    }
}
.cnts-wrap{
    width: 100%;
    height: 100vh;
    background: rgba(244,244,244,0.9);
    position: fixed;
    top: 0; left: 0;
    .content{
        position: absolute;
        top: 0; bottom: 0; right: 0; left: 0;
        margin: auto ;
        padding: 48px 15px 0;
        background-color: #fff;
        section{
            margin-top: 23px;
            table{
                tr{

                    // @for $w from 1 to 500 {
                    //     .w#{$w}{
                    //         width: #{$w}px;
                    //     }                        
                    // }
                    // @for $h from 1 to 500 {
                    //     .h#{$h}{
                    //         height: #{$h}px;
                    //     }                        
                    // }

                    .h20{height: 20px;}
                    .h22{height: 22px;}
                    .h30{height: 30px;}
                    .h31{height: 31px;}
                    .h36{height: 36px;}
                    .h37{height: 37px;}
                    .h41{height: 41px;}
                    .h46{height: 46px;}
                    .h52{height: 52px;}
                    .h90{height: 90px;}

                    .w13{width: 13px;}
                    .w17{width: 17px;}
                    .w18{width: 18px;}
                    .w19{width: 19px;}
                    .w20{width: 20px;}
                    .w31{width: 31px;}
                    .w32{width: 32px;}
                    .w35{width: 35px;}
                    .w40{width: 40px;}
                    .w41{width: 41px;}
                    .w50{width: 50px;}
                    .w51{width: 51px;}
                    .w52{width: 52px;}
                    .w75{width: 75px;}
                    .w79{width: 79px;}
                    .w80{width: 80px;}
                    .w83{width: 83px;}
                    .w86{width: 86px;}
                    .w87{width: 87px;}
                    .w90{width: 90px;}
                    .w91{width: 91px;}
                    .w93{width: 93px;}
                    .w100{width: 100px;}
                    .w104{width: 104px;}
                    .w109{width: 109px;}
                    .w119{width: 119px;}
                    .w122{width: 122px;}
                    .w142{width: 142px;}
                    .w144{width: 144px;}
                    .w145{width: 145px;}
                    .w147{width: 147px;}
                    .w171{width: 171px;}
                    .w191{width: 191px;}
                    .w215{width: 215px;}
                    .w224{width: 224px;}
                    .w229{width: 229px;}
                    .w240{width: 240px;}
                    .w493{width: 493px;}
                    
                }
            }
        }
        .top-btn{
            position: absolute;
            top: 26px; right: 18px;
            background-color: #fff;
            @include fonts(14, 300, 20, #333);
        }
        .cnts-title{
            text-align: center;
            h2{
                @include fonts(20, 400, 20, #000);
            } 
        }
        .btns{
            width: 100%;
            display: flex;
            .bot-bnt{
                width: calc(50% - 8px);
                height: 50px;
                &:first-of-type{
                    background-color: #fff;
                    border: 1px solid #000;
                    font-size: 18px;
                    margin-right: 16px;
                }
                &:last-of-type{
                    background-color: #000;
                    color: #fff;
                    font-size: 18px;
                }
            }
        }
    }
}

.tax{
    display: none;
    .content{
        width: 670px;
        height: 780px;
        section{ 
            position: relative;
            .tax-table{
                position: absolute;
                top: 0; left: 0;
                width: 640px;          
                border-collapse: collapse;
                font-family: "돋움", "Dotum", serif;
                tr{
                    td{
                        padding-left: 5px;
                        vertical-align: middle;
                        @include fonts(12, 500, 12, #010101);
                    }
                }
                .tr1{
                    td{
                        text-indent: 450px;     
                    }
                }
                .tr2{
                    td{
                        text-align: center;
                        padding: 0;
                        .left{
                            text-align: left;
                            text-indent: 5px;
                        }         
                    }
                }
            }
        }
        aside{
            margin-top: 20px;
            ul{
                li{
                    @include fonts(12, 400, 20, #010101);
                }
            }
            .btns{
                margin-top: 30px;
            }
        }
    }
}
.cash{
    display: none;
    .content{
        width: 381px;
        height: 840px;
        section{
            position: relative;
            .cash-table{
                position: absolute;
                top: 10px; left: 9px; 
                width: 333px;
                border-collapse: collapse;
                font-family: "돋움", "Dotum", serif;
                tr{
                    td{
                        padding-top: 12px;
                        text-indent: 5px;
                        vertical-align: middle;
                        @include fonts(12, 500, 12, #010101);
                    }
                }
                .tr1{
                    td{
                        padding: 0;
                        table{
                            tr{
                                td{
                                    padding-top: 12px;
                                }
                                .right{
                                    text-align: right;
                                    padding-right: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .btns{
            margin-top: 37px;
        }
    }
}
.active{
    display: block;
}